:root {
  --color-background-default: #ebebff;
  --color-background-float: #f5f5ff;
  --color-background-dip: #dbdbff;
  --color-foreground-contrast: #232563;
  --color-foreground-dim: #5c5c70;
  --color-foreground-emphasized: #7070ff;
  --color-foreground-emphasized-hover: #7070ff;
  --color-foreground-match-background: #ebebff;
  --color-foreground-white: #ffffff;
  --color-foreground-black: #000000;
  --color-foreground-primary: #ff55ff;
  --color-foreground-primary-hover: #ff8fff;
  --color-foreground-success: #4fa877;
  --color-foreground-red: #aa5078;
  --color-foreground-yellow: #b29401;
  --color-foreground-disabled: #9b9bb1;
  --color-border-hint: #dbdbff;
  --color-border-default: #ccceff;
  --color-border-focus: #7070ff;
  --color-border-contrast: #25262d;
  --color-border-error: #ce97af;
  --color-border-merged: #ffe5ff;
  --color-border-match-background: #ebebff;
  --color-border-primary: #ff1aff;
  --color-border-primary-hover: #ff55ff;
  --color-border-selected: #dbdbff;
  --color-border-warning: #ffe609;
  --color-border-success: #97ceb0;
  --color-fill-secondary: #5555ff;
  --color-fill-secondary-hover: #7070ff;
  --color-fill-ghost: #dbdbff;
  --color-fill-ghost-hover: #ebebff;
  --color-fill-separator: #dbdbff;
  --color-fill-primary: #ff55ff;
  --color-fill-primary-hover: #ff70ff;
  --color-fill-primary-shade: #ff1aff;
  --color-fill-danger-shade: #8b3e5e;
  --color-fill-danger: #aa5078;
  --color-fill-danger-hover: #be7495;
  --color-fill-danger-counter: #ce97af;
  --color-fill-yellow: #ffe609;
  --color-fill-yellow-iconic: #ffff55;
  --color-fill-gray: #9b9bb1;
  --color-fill-secondary-shade: #4545ef;
  --color-fill-diff-red: #efdce4;
  --color-fill-diff-red-light: #f7eef2;
  --color-fill-success-counter: #97ceb0;
  --color-fill-success-hover: #71bc93;
  --color-fill-success: #4fa877;
  --color-fill-success-shade: #408760;
  --color-fill-diff-green: #badeca;
  --color-fill-diff-green-light: #dcefe5;
  --color-fill-float: #f5f5ff;
  --color-fill-float-hover: #fafaff;
  --color-fill-merged: #ffeeff;
  --color-fill-selected: #ebebff;
  --color-fill-warning: #ffffe5;
  --color-fill-counter: #dbdbff;
  --color-fill-counter-emphasized: #ebebff;
  --color-fill-delegate: #ffe5ff;
  --color-fill-private: #fff5d6;
  --color-fill-secondary-counter: #b2b5ff;
  --color-fill-primary-counter: #ff8fff;
  --color-fill-ghost-shade: #ccceff;
}

:root[data-theme="dark"] {
  --color-background-default: #0a0e0f;
  --color-background-float: #25262d;
  --color-background-dip: #000000;
  --color-foreground-contrast: #f9f9fb;
  --color-foreground-dim: #9b9bb1;
  --color-foreground-emphasized: #7070ff;
  --color-foreground-emphasized-hover: #b2b5ff;
  --color-foreground-match-background: #0a0e0f;
  --color-foreground-white: #ffffff;
  --color-foreground-black: #000000;
  --color-foreground-primary: #ff55ff;
  --color-foreground-primary-hover: #ff8fff;
  --color-foreground-success: #4fa877;
  --color-foreground-red: #be7495;
  --color-foreground-yellow: #e5c001;
  --color-foreground-disabled: #5c5c70;
  --color-border-hint: #2e2f38;
  --color-border-default: #393a46;
  --color-border-focus: #7070ff;
  --color-border-contrast: #ebebff;
  --color-border-error: #6b2b42;
  --color-border-merged: #6b006b;
  --color-border-match-background: #0a0e0f;
  --color-border-primary: #ff1aff;
  --color-border-primary-hover: #ff55ff;
  --color-border-selected: #232563;
  --color-border-warning: #4c4000;
  --color-border-success: #2a5a40;
  --color-fill-secondary: #7070ff;
  --color-fill-secondary-hover: #b2b5ff;
  --color-fill-secondary-shade: #5555ff;
  --color-fill-ghost: #2e2f38;
  --color-fill-ghost-hover: #393a46;
  --color-fill-separator: #2e2f38;
  --color-fill-primary: #ff1aff;
  --color-fill-primary-hover: #ff4dff;
  --color-fill-primary-shade: #e500e5;
  --color-fill-danger-shade: #8b3e5e;
  --color-fill-danger: #aa5078;
  --color-fill-danger-hover: #be7495;
  --color-fill-danger-counter: #ce97af;
  --color-fill-yellow: #ffe609;
  --color-fill-yellow-iconic: #ffff55;
  --color-fill-gray: #9b9bb1;
  --color-fill-diff-red: #4d1929;
  --color-fill-diff-red-light: #2d060d;
  --color-fill-success-counter: #97ceb0;
  --color-fill-success-hover: #71bc93;
  --color-fill-success: #4fa877;
  --color-fill-success-shade: #408760;
  --color-fill-diff-green: #183425;
  --color-fill-diff-green-light: #142a1d;
  --color-fill-float: #25262d;
  --color-fill-float-hover: #2e2f38;
  --color-fill-merged: #1a001a;
  --color-fill-selected: #16173d;
  --color-fill-warning: #191500;
  --color-fill-counter: #393a46;
  --color-fill-counter-emphasized: #5c5c70;
  --color-fill-delegate: #3d003d;
  --color-fill-private: #4c4000;
  --color-fill-secondary-counter: #ccceff;
  --color-fill-primary-counter: #ff8fff;
  --color-fill-ghost-shade: #25262d;
}
