* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  /* Prevent rubber-band effect when scrolling via touchpad on macOS. */
  overscroll-behavior: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-foreground-contrast);
  background-color: var(--color-background-default);
}

.global-oid {
  color: var(--color-foreground-emphasized);
  font-size: var(--font-size-small);
  font-family: var(--font-family-monospace);
  font-weight: var(--font-weight-regular);
}

.global-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
