.global-syntax.operator,
.global-syntax.keyword\.repeat,
.global-syntax.keyword {
  color: var(--color-prettylights-syntax-keyword);
}
.global-syntax.type {
  color: var(--color-prettylights-syntax-entity);
}
.global-syntax.property,
.global-syntax.variable\.parameter {
  color: var(--color-prettylights-syntax-variable);
}
.global-syntax.punctuation\.delimiter {
}
.global-syntax.punctuation\.bracket {
}
.global-syntax.attribute {
}
.global-syntax.number,
.global-syntax.constant,
.global-syntax.type\.builtin,
.global-syntax.constant\.builtin,
.global-syntax.variable\.builtin,
.global-syntax.function {
  color: var(--color-prettylights-syntax-constant);
}
.global-syntax.comment,
.global-syntax.comment\.documentation {
  color: var(--color-prettylights-syntax-comment);
}
.global-syntax.string {
  color: var(--color-prettylights-syntax-string);
}
.global-syntax.string.special {
}
.global-syntax.function\.method {
  color: var(--color-prettylights-syntax-entity);
}
.global-syntax.type.builtin {
}
.global-syntax.punctuation.bracket {
}
.global-syntax.punctuation.delimiter {
}
.global-syntax.punctuation.special {
}
.global-syntax.text.literal {
}
.global-syntax.text.title {
}
.global-syntax.variable {
  color: var(--color-prettylights-syntax-storage-modifier-import);
}
.global-syntax.attribute {
}
.global-syntax.label {
}
.global-syntax.type {
}
.global-syntax.variable.parameter {
}
.global-syntax.constructor {
  color: var(--color-prettylights-syntax-entity);
}
.global-syntax.tag\.delimiter {
  color: var(--color-prettylights-syntax-keyword);
}
